.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    display: flex;

    .content-text {
      h1 {
        font-size: 1.75rem;
        margin-bottom: 0;
      }

      p {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
