.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .content {
      display: flex;
  
      .content-text {
        h1 {
          font-size: 2rem;
          margin-bottom: 0;
        }
  
        p {
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
    }
  }
  

  form {
    margin: 1rem 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;

    .form-group {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      select {
        width: 350px !important;
        padding: 0.5rem;
        background-color: #121214 !important;
        border: none;
      }

      .group-button {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .card-items  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    
    .card {
      border: none ;

      img {
        width: 100%;
        object-fit: cover;
        height: 250px;
      }

      .content {
        background-color: rgb(41,41,46);
        padding: 1rem;
        color: white;

        .name {
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 1.334;
        }

        .description {
          font-weight: 400;
          font-size: 0.875rem;
          color: rgba(255,255,255,0.7);
          margin-top: 0.3rem;
        }

        .tipo {
          font-size: .875rem;
          color: rgba(255,255,255,0.7);
          margin-top: 0.3rem;
          margin-bottom: 0.75rem;
        }

        .actions {
          display: flex;
          gap: 0.5rem;

          button {
            width: 100px;
          }
        }
      }
    }
  }

  .not-exist-pokemons {
    background-color: #29292e;
    padding: 1.5rem;
    text-align: center;
    color: #e1e1e6;
    width: 100%;
  }

  @media(max-width: 830px) {
    .card-items {
      grid-template-columns: 1fr 1fr;
    }

    form {
      .form-group {
        select {
          width: 250px !important;
        }
      }
    }
  }

  @media(max-width: 590px) {
    .card-items {
      grid-template-columns: 1fr;
    }
  }

  @media(max-width: 740px) {
    form {
      .form-group {
        select {
          width: 200px !important;
        }
      }
    }
  }

  @media(max-width: 680px) {
    form {
      display: flex;
      flex-direction: column;

      button {
        width: 100%;
      }
      
      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        select {
          width: 100% !important;
        }

        .group-button {
          width: 100%;
          display: flex;
          flex-direction: column;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}