<div class="container">
  <div class="header">
    <div class="content">
      <div class="content-text">
        <h1>Listagem de Pokemons</h1>
      </div>
    </div>
  </div>

  <form [formGroup]="formFilter" (ngSubmit)="filter()">
    <div class="form-group">
      <select
        class="form-select bg-dark text-white"
        formControlName="pokemontipo"
      >
        <option value="" disabled selected>Selecione um tipo</option>
        <option value="">Todos</option>
        <option *ngFor="let tipo of pokemonTipos" [ngValue]="tipo.id">
          {{ tipo.nome }}
        </option>
      </select>
      <div class="group-button">
        <button
          class="btn btn-success"
          [disabled]="!formFilter.controls['pokemontipo'].value"
        >
          Buscar
        </button>
        <button
          class="btn btn-success"
          (click)="clearFilter()"
          [disabled]="!formFilter.controls['pokemontipo'].value"
        >
          Limpar filtro
        </button>
      </div>
    </div>
    <button class="btn btn-success" (click)="openAddModal()">Novo</button>
  </form>

  <div class="card-items">
    <div class="col-full" *ngFor="let pokemon of pokemons">
      <div class="card">
        <img [src]="pokemon.imagemUrl" alt="pokemon-image" />
        <div class="content">
          <div class="name">{{ pokemon.nome }}</div>
          <div class="description">{{ pokemon.descricao }}</div>
          <div class="tipo">
            Tipo do Pokemon: {{ pokemon.pokemonTipo.nome }}
          </div>
          <div class="actions">
            <button class="btn btn-success" (click)="openEditModal(pokemon.id)">
              Editar
            </button>

            <button class="btn btn-danger" (click)="removePokemon(pokemon.id)">
              Deletar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="not-exist-pokemons" *ngIf="pokemons.length === 0">
    Não há pokemons para exibir
  </div>
</div>
